@mixin list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin breakpoint-down($max-lg) {
  @media only screen and (max-width: $max-lg) {
    @content;
  }
}

@mixin breakpoint-up($max-xs) {
  @media only screen and (max-width: $max-xs) {
    @content;
  }
}

@mixin before-after ($bg-repeat: no-repeat, 
                     $bg-size: contain,
                     $inline-block: inline-block, 
                     $widths: 300px, 
                     $heights: 100px 
                     ) {
  content: "";
  background-repeat: $bg-repeat;
  background-size: $bg-size;
  display: $inline-block;
  width: $widths;
  height: $heights;
}

@mixin font-body ($ft-weight: 400,
                  $ft-size: 16px,
                  $ft-color: #000) {

  font-weight: $ft-weight;
  font-size: $ft-size;
  color: $ft-color;
}

@mixin border ($px, $border-color) {
  border: $px solid $border-color;
}

@mixin bg-and-color ($bg-color: var(--input-color), $color: var(--color-dark)) {
  background-color: $bg-color;
  color: $color;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin bg-border-none {
  background-color: transparent;
  border: none;
}