.site-header {

  &__form {
    position: relative;
  }

  &__form-input {
    @include border(1px, var(--border-color));
    @include bg-and-color();
    @include width-height(575px, 36px);
    padding: 2px 68px 2px 6px;
    outline-color: #4d8bf59d;

    &::placeholder {
      @include font-body(400, 16px, var(--color-dark));
    }
  }

  &__form-btn {
    @include width-height(64px, 36px);
    @include border(1px, var(--border-color));
    @include bg-and-color(var(--search-bg-color), var(--search-color));
    position: relative;
    // right: 5px;
  }

  &__form-mic {
    @include width-height(24px, 24px);    
    @include bg-border-none;
    background-image: var(--mic-img);
    margin-left: 12px;
    padding: 10px;
  }
}