.site-header {
  position: relative;

  &__form {
    position: relative;
  }

  &__form-input {
    @include border(1px, var(--border-color));
    @include bg-and-color();
    @include width-height(575px, 36px);
    padding: 2px 68px 2px 6px;
    outline-color: #4d8bf59d;

    &::placeholder {
      @include font-body(400, 16px, var(--color-dark));
    }
  }

  &__form-btn {
    @include width-height(64px, 36px);
    @include border(1px, var(--border-color));
    @include bg-and-color(var(--search-bg-color), var(--search-color));
    position: absolute;
    right: 40px;
  }

  &__form-key {
    @include bg-border-none;
    @include bg-and-color(transparent, var(--color-dark));
    position: absolute;
    top: 50%;
    right: 110px;
    transform: translateY(-50%)
  }

  &__form-mic {
    @include width-height(36px, 36px);    
    @include bg-border-none;
    padding: 14px;
    background-size: 24px, 24px;
    background-position: center;
    background-image: var(--mic-img);
    margin-left: 12px;
    background-repeat: no-repeat;
    cursor: pointer;
  }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}